:root{
    --titleSize: 6vh;
    --topOfDiag: calc(3 * var(--titleSize));
    --diagHeight: calc(100vh - var(--topOfDiag));
    --diagWidth: 70vw;
    --availWidth: var(--diagWidth) * 0.90;
    --availHeight: var(--diagHeight) * 0.98;
    --availLength: min(var(--availWidth), var(--availHeight));
    --sideBoxWidth: calc(100vw - var(--diagWidth));
    --sideBoxScaleLength: min(calc(0.01 * var(--sideBoxWidth)), calc(0.0084 * var(--diagHeight)));
    --selectorColor: #bd3636;
}

@media (orientation:portrait){
    :root{
        --titleSize: 5vw;
        --diagHeight: calc(70vh - var(--topOfDiag));
        --diagWidth: 100vw;
        --sideBoxWidth: 90%;
        --sideBoxScaleLength: 0.5vw;
    }
}

*{
    box-sizing: border-box;
    font-family: "Lato";
}

body{
    background-color: cornsilk;
}

.content{
    display: flex;
    align-items: flex-start;
}

h1{
    text-align: center;
    font-family: 'Noto Sans JP';
    font-size: var(--titleSize);
}


#mbLogoContainer{
    position: absolute;
    top: 94vh;
    left: 2vw;
    width: max(18vw, calc(0.45 * var(--availLength)) );
    z-index: -10;
}

#mbLogoContainer img{
    width: 100%;
}

p{
    font-family: 'Lato';
}

#diagram{
    display: inline-block;
    height: var(--diagHeight);
    width: var(--diagWidth);
    left: 0;
}

#lifecycleImage{
    position: absolute; 
    width: var(--availLength);
    height: var(--availLength);
    top: calc(var(--topOfDiag) + (0.45 * var(--diagHeight) ) - (0.5 * var(--availLength)) );
    left: calc((0.5 * var(--diagWidth) ) - (0.5 * var(--availLength)) );
    z-index: 0;
}

#lifecycleImage img{
    height: 100%;
    width: 100%;
}

.selecter{
    position: absolute;
    display: flex;
    font-size: calc( 0.04 * var(--availLength));
    height: 8%;
    width: 8%;
    border-width: calc(0.01 * var(--availLength));
    border-color: var(--selectorColor);
    border-style: solid;
    border-radius: 50%;
    padding-top: 0.5%;
    z-index: 10;
    justify-content: center;
    background-color: white;
    color: var(--selectorColor);
    --baseColor: var(--selectorColor);
}

.selecter:hover{
    cursor: pointer;
}

#selecter1{
    top: 64%;
    left: 21%;
}

#selecter2{
    top: 54%;
    left: 27%;
}

#selecter3{
    top: 38%;
    left: 22%;
}

#selecter4{
    top: 27%;
    left: 38%;
}

#selecter5{
    top: 24%;
    left: 54%;
}

#selecter6{
    top: 21.5%;
    left: 68%;
}

#selecter7{
    top: 38%;
    left: 65%;
}

#selecter8{
    top: 54%;
    left: 70%;
}

#selecter9{
    top: 66%;
    left: 51.5%;
}

#selecter10{
    top: 86.7%;
    left: 27%;
}

.outerLegendPopSelecter{
    position: absolute;
    width: calc(0.225 * var(--availLength));
    height: calc(0.225 * var(--availLength));
    border-radius: 50%;
}

.outerLegendPopSelecter:hover{
    cursor: pointer;
}

.legendPop{
    position: absolute;
    display: none;
    align-items: center;
    min-width: calc(0.8 * var(--availLength));
    min-height: calc(0.2 * var(--availLength));
    gap: calc(0.03 * var(--availLength));
    background-color: white;
    border-width: calc(0.01 * var(--availLength));
    border-color: #3997A6;
    border-style: solid;
    padding: calc(0.02 * var(--availLength));
    padding-left: calc(0.04 * var(--availLength));
    border-radius: calc(0.03 * var(--availLength));
    font-size: calc(0.05 * var(--availLength));
    z-index: 20;
}

.legendPopLogo{
    width: calc(0.1 * var(--availLength));
}

#legPopSelFunder{
    top: 39%;
    left: 1.2%;
}

#legendPopFunder{
    top: 55%;
    left: 22%;
}

#legPopSelInst1{
    top: 1.3%;
    left: 39%;
}

#legPopSelInst2{
    top: 76.6%;
    left: 39%;
}

#legendPopInst1{
    top: 24%;
    left: 24%;
}

#legendPopInst2{
    top: 48%;
    left: 24%;
}

#legPopSelPlatform{
    top: 39%;
    left: 76.6%;
}

#legendPopPlatform{
    top: 62%;
    left: 15%;
}

#legendPopPlatform .legendPopLabel, #legendPopInst1 .legendPopLabel, #legendPopInst2 .legendPopLabel{
    font-size: calc(0.035 * var(--availLength));
}

#legendPopInst1 .legendPopLabel, #legendPopInst2 .legendPopLabel{
    line-height: calc(0.1 * var(--availLength));
}

.closeBtn{
    position: absolute;
    right: calc(0.01 * var(--availLength));;
    top: calc(0.01 * var(--availLength));;
    border-width: calc(0.005 * var(--availLength));
    border-color: black;
    border-style: solid;
    border-radius: calc(0.01 * var(--availLength));
    font-size: calc(0.03 * var(--availLength));
    text-align: center;
    padding: calc(0.002 * var(--availLength)) calc(0.005 * var(--availLength));
    background-color: rgb(200, 200, 200);
}

.closeBtn:hover{
    cursor: pointer;
}

.sidePanel{
    display: none;
    flex-wrap: wrap;
    width: var(--sideBoxWidth);
    max-height: calc(120 * var(--sideBoxScaleLength));
    border: 0 rgb(39, 39, 39) solid;
    border-width: calc(0.012 * var(--sideBoxWidth));
    border-radius: calc(0.08 * var(--sideBoxWidth));
    padding: calc(6 * var(--sideBoxScaleLength));
    margin-top: 2%;
    margin-right: 2%;
    background-color: white;
    font-size: calc(4.5 * var(--sideBoxScaleLength));
}

.leftSidePanelBox, .rightSidePanelBox{
    flex-basis: 100%;
}

.sidePanelTitleRow{
    flex-basis: 100%;
    display: flex;
    align-items:flex-start;
    gap: calc(5 * var(--sideBoxScaleLength));
}

.sidePanelTitle{
    font-family: 'Noto Sans JP';
    font-size: calc(5.5 * var(--sideBoxScaleLength));
}

.sidePanelLeftArrow{
    width: 0; 
    height: 0; 
    border-top: 0 solid transparent;
    border-bottom: 0 solid transparent; 
    border-right: 0 solid var(--selectorColor);
    border-top-width: calc(4 * var(--sideBoxScaleLength));
    border-bottom-width: calc(4 * var(--sideBoxScaleLength));
    border-right-width: calc(3 * var(--sideBoxScaleLength));
}

.sidePanelRightArrow{
    width: 0; 
    height: 0; 
    border-top: 0 solid transparent;
    border-bottom: 0 solid transparent; 
    border-left: 0 solid var(--selectorColor);
    border-top-width: calc(4 * var(--sideBoxScaleLength));
    border-bottom-width: calc(4 * var(--sideBoxScaleLength));
    border-left-width: calc(3 * var(--sideBoxScaleLength));
    margin-left: auto;
}

.sidePanelLeftArrow:hover, .sidePanelRightArrow:hover{
    cursor: pointer;
}

#legend{
    display: block;
    max-height: calc(114 * var(--sideBoxScaleLength));
    font-size: calc(4 * var(--sideBoxScaleLength));
}

#legendTitleTop{
    margin-bottom: calc(3 * var(--sideBoxScaleLength));
}

#legendTitleBottom{
    margin-bottom: calc(3 * var(--sideBoxScaleLength));
    margin-top: calc(4 * var(--sideBoxScaleLength));
}

.legendCells{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: calc(0.7 * var(--sideBoxScaleLength));
}

.legendCellLeft{
    --iconSize: calc(5.8 * var(--sideBoxScaleLength));
    width: var(--iconSize);
    height: var(--iconSize);
    flex-basis: 10%;
}

#outputCell{
    height: calc(12 * var(--sideBoxScaleLength));
}

.legendCellLeft img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.legendCellRight{
    flex-basis: 88%;
}

.logos{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 2%;
}

.logos img{
    width: 12%;
    margin: 2%;
}

.benefits{
    margin-top: 5%;
    color: #3997A6;
}

ol{
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  padding-inline-start: 1em;
}

@media (orientation:portrait) {
    .content{
        display: block;
    }
    .sidePanel{
        gap: 3%;
        width: 90%;
        margin: auto;
        border-radius: 2em;
    }
    .leftSidePanelBox, .benefits{
        flex-basis: 48.5%;
    }
    .benefits{
        margin-top: 2.5%;
    }
    .legendContent{
        display: flex;
        align-items: flex-start;
    }
    #legendTitleBottom{
        margin-top: 0;
    }
    #actors{
        flex-basis: 45%;
    }
    #pidsAndReg{
        flex-basis: 55%;
    }
}

